@import "_base";
.footer{
    background-color: black;
   
    padding-top: 5rem;
    padding-bottom: 5rem;
    .footer-content{
        .up{
            .info{
                display: flex;
                @include max-width(1150px)
                {
                    justify-content: center;
                    align-items: center;
                   /*  transform: translateX(5rem); */
                  

                }
               
                
            }
            display: flex;
            justify-content: space-around;
            @include max-width(1150px)
                    {
                        display: block;
                      
                    }
                  .logo{
                    @include max-width(1150px)
                {
                    text-align: center;
                }
                  }
                   
            .company{
                .ptxt{
                    width: 40%;
                    text-align: justify;
                    color: white;
                    font-size: 1.2rem;
                    line-height: 1.9rem;
                    font-family: "Roboto", sans-serif;
                    color: rgb(235, 229, 229);
                    margin-top: 1rem;
                    @include max-width(1150px)
                    {
                        display: none;
                    }
                }
            }
            .phead{
                font-weight: bolder;
                font-size: 1.2rem;
                @include max-width(690px)
                {
                    margin-left: 2rem;
                }
            }
            .explore{
                p{
                    margin-bottom: 1.5rem;
                    font-size: 1.2rem;
                }
                margin-top: 2rem;
                margin-right: 3rem;
                color: white;
                font-family: "Roboto", sans-serif;
                color: rgb(235, 229, 229);
                @include max-width(690px)
                {
                    display: none;
                }

            }
            .learn{
                p{
                    margin-bottom: 1.5rem;
                    font-size: 1.2rem;
                }
                margin-top: 2rem;
                margin-right: 3rem;
                color: white;
                font-family: "Roboto", sans-serif;
                color: rgb(235, 229, 229);
                @include max-width(690px)
                {
                    display: none;
                }
  
            }
            .contact{
                @include max-width(670px)
                {
                    margin-left: 7rem;
                }
                p{
                    font-size: 1.2rem;
                }
                .email{
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
                .corporate-office{
                    margin-top: 1rem;
                }
                margin-top: 2rem;
                margin-right: 3rem;
                color: white;
                font-family: "Roboto", sans-serif;
                color: rgb(235, 229, 229);

            }
            .social{
                display: flex;
                margin-top: 1rem;
                .link{
                    display: block;
                    color: white;
                text-decoration: none;
                margin-inline: 0.5rem;
                }
            }
        }

        width: 90%;
        margin-inline: auto;
        .down{
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            .down-txt{
               .copyright{
                display: flex;
                margin-bottom: 2rem;
                @include max-width(680px)
                {
                    display: block;
                }
                p{
                    font-family: "Roboto", sans-serif;

                    font-size: 1.2rem;
                    margin-right: 1rem;
                }
               }
                color: rgb(235, 229, 229);
            }
            .con{
                font-family: "Roboto", sans-serif;

                margin-bottom: 1.5rem;
                font-size: 1.2rem;
            }
        }
    }
}
