@import "_base";
.problems {
  .head {
    text-align: center;
    font-size: 2.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    margin-top: 3rem;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include max-width(780px) {
      justify-content: center;
      align-items: center;
    }
    width: 90%;
    margin-inline: auto;
    font-family: "Roboto", sans-serif;
    margin-top: 2rem;
    .card {
      height: 20rem;
      width: 22rem;
      background-color: rgb(247, 228, 247);
      padding-left: 2rem;
      padding-top: 1rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
      h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      img {
        height: 5rem;
        width: 5rem;
      }
      p {
        text-align: justify;
        width: 90%;
        font-size: 1.2rem;
      }
    }
  }
}
